replicaCount: 1

image:
  repository: harbor.k8s.labs.itmo.loc/public/inference-service
  pullPolicy: IfNotPresent
  tag: "demo"

service:
  type: ClusterIP
  port: 8000

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: "inference.k8s.labs.itmo.loc"
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: labs-itmo-tls
      hosts:
        - "inference.k8s.labs.itmo.loc"
    
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

resources:
  limits:
    memory: "256Mi"
    cpu: "500m"
  requests:
    memory: "128Mi"
    cpu: "100m"
